.CommandBlock {
  width: 320px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.34em;
  margin-bottom: 10px;
}

.CommandTitle {
  color: white;
  text-shadow: rgb(128, 128, 128) 0px 1px 0px;
  font-size: 18px;
  font-weight: normal;
  text-align: left;
  display: block;
  margin: 8px 0 .4em;
  padding-left: 12px;
  padding-right: 10px;
  line-height: 23px;
}

.CommandControls {
  color: white;
  text-shadow: rgb(128, 128, 128) 0px 1px 0px;
  width: 320px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid rgb(87, 119, 142);
  background-color: rgb(130, 155, 175);
  box-shadow: rgba(115, 141, 158, 0.8) 0px 1px 1px 1px inset;
  border-radius: 10px;
  padding-left: 5px;
  padding-top: 10px;
}

.HoriZone {
  width: 294px;
  height: 47px;
  margin-right: 10px;
  margin-bottom: 10px;
  /* padding-top: 6px; */
  padding-bottom: 8px;
  border-radius: 8px;
  text-align: left;
}

.HoriButton {
  width: 294px;
  height: 47px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 6px;
  padding-bottom: 8px;
  border-radius: 8px;
  padding-left: 10px;
  text-align: left;
}

.HoriButton::before {
  content: '';
  position: relative;
  display: inline-block;
}

.HoriButton:hover {
  background-color: rgb(138, 164, 185);
  cursor: pointer;
}

.VertiButtonZone {
  display: inline-block;
  padding-left: 1px;
}

.VertiZone {
  float: left;
  clear: none;
  width: 61px;
  height: 85px;
  padding-right: 11px;
}

.VertiButton {
  height: 75px;
  width: 50px;
  border-width: 0px;
  border-radius: 0.6em;
  text-shadow: none;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 0px;
}

.VertiButton:hover {
  background-color: rgb(138, 164, 185);
  cursor: pointer;
}

.VertiButton::after {
  content: '';
  position: relative;
  display: block;
  top: 20px;
}

.ZoneOff {
  background-color: rgb(116, 140, 160);
}

.ZoneOn {
  background-color: rgb(138, 164, 185);
}

.VertiImg {
  width: 35px;
  margin-top: 20px;
  position: relative;
}

.SelectedMode {
  display: block;
  margin-top: -25px;
  margin-left: 50px;
}

.FanSpeedSpanVerti {
  background: transparent;
  position: relative;
  top: 14px;
}

.FanSpeedSpanHori {
  background: transparent;
  position: relative;
  top: -10px;
}

.FanSpeedSpanVerti:hover .FanSpeedSpanHori:hover {
  cursor: pointer;
}

/* Background images related to specific ID */
  /* Mode */
#ButtonMode_1::after {
  background-image: url("../../../data/img/Operate_off_Ata_1.png");
  background-size: 35px 35px;
  width: 35px;
  height: 35px;
  top: 20px;
  left: 7px;
}
#ButtonMode_1:hover::after, #ButtonMode_1.ZoneOn::after {
  background-image: url("../../../data/img/Operate_on_Ata_1.png");
}

#ButtonMode_2::after {
  background-image: url("../../../data/img/Operate_off_Ata_2.png");
  background-size: 35px 35px;
  width: 35px;
  height: 35px;
  top: 20px;
  left: 7px;
}
#ButtonMode_2:hover::after, #ButtonMode_2.ZoneOn::after {
  background-image: url("../../../data/img/Operate_on_Ata_2.png");
}

#ButtonMode_3::after {
  background-image: url("../../../data/img/Operate_off_Ata_3.png");
  background-size: 35px 35px;
  width: 35px;
  height: 35px;
  top: 20px;
  left: 7px;
}
#ButtonMode_3:hover::after, #ButtonMode_3.ZoneOn::after {
  background-image: url("../../../data/img/Operate_on_Ata_3.png");
}

#ButtonMode_7::after {
  background-image: url("../../../data/img/Operate_off_Ata_7.png");
  background-size: 35px 35px;
  width: 35px;
  height: 35px;
  top: 20px;
  left: 7px;
}
#ButtonMode_7:hover::after, #ButtonMode_7.ZoneOn::after {
  background-image: url("../../../data/img/Operate_on_Ata_7.png");
}

#ButtonMode_8::after {
  background-image: url("../../../data/img/Operate_off_Ata_8.png");
  background-size: 35px 35px;
  width: 35px;
  height: 35px;
  top: 20px;
  left: 7px;
}
#ButtonMode_8:hover::after, #ButtonMode_8.ZoneOn::after {
  background-image: url("../../../data/img/Operate_on_Ata_8.png");
}


  /* Fan speed */
#ButtonFanSpeed_1::after {
  background-image: url("../../../data/img/Fan_speed_off_Ata_1.png");
  background-size: 35px 35px;
  width: 35px;
  height: 35px;
  top: 25px;
}
#ButtonFanSpeed_1:hover::after, #ButtonFanSpeed_1.ZoneOn::after {
  background-image: url("../../../data/img/Fan_speed_on_Ata_1.png");
}

#ButtonFanSpeed_2::after {
  background-image: url("../../../data/img/Fan_speed_off_Ata_2.png");
  background-size: 35px 35px;
  width: 35px;
  height: 35px;
  top: 25px;
}
#ButtonFanSpeed_2:hover::after, #ButtonFanSpeed_2.ZoneOn::after {
  background-image: url("../../../data/img/Fan_speed_on_Ata_2.png");
}

#ButtonFanSpeed_3::after {
  background-image: url("../../../data/img/Fan_speed_off_Ata_3.png");
  background-size: 35px 35px;
  width: 35px;
  height: 35px;
  top: 25px;
}
#ButtonFanSpeed_3:hover::after, #ButtonFanSpeed_3.ZoneOn::after {
  background-image: url("../../../data/img/Fan_speed_on_Ata_3.png");
}

#ButtonFanSpeed_4::after {
  background-image: url("../../../data/img/Fan_speed_off_Ata_4.png");
  background-size: 35px 35px;
  width: 35px;
  height: 35px;
  top: 25px;
}
#ButtonFanSpeed_4:hover::after, #ButtonFanSpeed_4.ZoneOn::after {
  background-image: url("../../../data/img/Fan_speed_on_Ata_4.png");
}

#ButtonFanSpeed_5::after {
  background-image: url("../../../data/img/Fan_speed_off_Ata_5.png");
  background-size: 35px 35px;
  width: 35px;
  height: 35px;
  top: 25px;
}
#ButtonFanSpeed_5:hover::after, #ButtonFanSpeed_5.ZoneOn::after {
  background-image: url("../../../data/img/Fan_speed_on_Ata_5.png");
}

#ButtonFanSpeed_0::before {
  background-image: url("../../../data/img/Operate_off_Ata_8.png");
  background-size: 35px 35px;
  width: 35px;
  height: 35px;
  top: 2.5px;
}
#ButtonFanSpeed_0:hover::before, #ButtonFanSpeed_0.ZoneOn::before {
  background-image: url("../../../data/img/Operate_on_Ata_8.png");
}